.btn-file 
{
    position: absolute;
    overflow: hidden;
}
.btn-file input[type=file] 
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#embed-responsive
{
	width:2000px;
	height:900px;
	position:absolute;
	left:0px;
	top:100px;
}
#canvasArea
{
	position: absolute;
	top: 0px;
	left: 60px;
	z-index: 1;
}
#canvas
{
	position:absolute;
	top: 0%;
	left: 190px;
	border-style: outset;
	border-radius: 10px;
}
#zoomout, #zoomin
{
	width:40px;
	height:40px;
}
#zoomInArea
{
	position: absolute;
	left: 170px;
	top: 0px;
}
#zoomOutArea
{
	position: absolute;
	left: 170px;
	top: 45px;
}
#refreshButton
{
	position: absolute;
	left: 170px;
	top: 90px;
}
#browseArea
{
	position:absolute;
	top:450px;
	left:210px;
}
#postArea
{
	position: absolute;
	top:450px;
	left: 335px;
}
#creationFormProperties
{
	font-size: 20px;
}
#postButton
{
	font-size: 20px;
}
#downloadArea
{
	position:absolute;
	top:450px;
	left:520px;
}
#downloadImgLink
{
	text-decoration:none;
	color: #000000;
}
#face
{
	visibility: hidden;
}
#hairStyles
{
	-webkit-columns: 2;
	-moz-columns: 2;
	list-style-type: none;
	position: absolute;
	left: 600px; 
	top: 4px;
}
#hs1, #hs2, #hs3, #hs4, #hs5, #hs6, #hs7, #hs8
{
	list-style-position: inside;
	margin: 0 0 3px 0;
	border: 2px solid #33CCCC;
	border-radius: 10px;
}
