div.img {
    margin: 10px;
    padding: 10px;
    height: 240px;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}


div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

.like {
    height: 17px;
    width: 19px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

#like:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}