<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
<link rel="stylesheet" type="text/css" href={% static "styling/canvasstyle.css" %}>

</head>

<body>
	<!-- The canvas element -->
	<div id="canvasArea">
		<canvas id="canvas" width="350" height="430" draggable="true"></canvas>
	</div>
	
	<!-- Zoom in / Zoom out buttons -->
	<div id="zoomInArea">
		<button id="zoomin" class="btn btn-default" type="button">+</button>
	</div>

	<div id="zoomOutArea">
		<button id="zoomout" class="btn btn-default"  type="button">-</button>
	</div>
	
	<!-- Refresh Button -->	
	<button id="refreshButton" type="button" class="btn btn-default" aria-label="Left Align">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
	</button>

	<!-- Upload button -->
	<div id="browseArea">
		<span class="btn btn-default btn-file"> Upload Image <input type="file" id="userFile" accept="image/*">
		</span>
	</div>
	
	<!-- Post Button -->
	<div id="postArea">
		<button id="postButton" class="btn btn-primary">Share Creation!</button>
	</div>

	<!-- Download button -->
	<div id="downloadArea">
		<span class="btn btn-default btn-file">
			<a id="downloadImgLink" download="MyImage.png" href="#" target="_blank">Download</a>
		</span>
	</div>

	<!--- Hairstyle images temporary -->
	<ul id="hairStyles">
	<li><img id="hs1" draggable="true" ondragstart="drag(event)" src={% static "images/1.png" %} width="80" height="86"></li>
	<li><img id="hs2" draggable="true" ondragstart="drag(event)" src={% static "images/2.png" %} width="80" height="86"></li>
	<li><img id="hs3" draggable="true" ondragstart="drag(event)" src={% static "images/3.png" %} width="80" height="86"></li>
	<li><img id="hs4" draggable="true" ondragstart="drag(event)" src={% static "images/4.png" %} width="80" height="86"></li>
	<li><img id="hs5" draggable="true" ondragstart="drag(event)" src={% static "images/5.png" %} width="80" height="86"></li>
	<li><img id="hs6" draggable="true" ondragstart="drag(event)" src={% static "images/6.png" %} width="80" height="86"></li>
	<li><img id="hs7" draggable="true" ondragstart="drag(event)" src={% static "images/7.png" %} width="80" height="86"></li>
	<li><img id="hs8" draggable="true" ondragstart="drag(event)" src={% static "images/8.png" %} width="80" height="86"></li>
	</ul>

	<!-- Invisible image to feed the canvas -->
	<img id="face" src={% static "images/baldguy.png" %} draggable="false">
	
	<script src={% static "scripts/canvasscript.js" %}></script>
  
</body>
<html>