{% extends 'kinkyCuts/base.html' %}
{% load staticfiles %}

<head>
<title>{% block title %}Explore{% endblock %}</title>
</head>
{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static "styling/explorestyle.css" %}">
<script type="text/javascript" src="{% static "scripts/explorescript.js" %}"> </script>

{% for pic in pictures %}
<div class="img">
      <a target="_blank" href="/media/media/{{ pic.picture }}"><img src="/media/media/{{ pic.picture }}" alt="Klematis" width="150" height="160"></a>
      <div class="desc">
      <img class="like" id="{{pic}}" onclick="changeImage(id)" src={% static "images/notliked.png" %}>Likes: {{pic.likes}}</div>
      </div>
{% endfor %}
{% endblock %}