{% extends 'kinkyCuts/base.html' %}
{% load staticfiles %}
{% load kinkycuts_extras %}
<head>
<title>{% block title %}Explore{% endblock %}</title>
</head>
{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static "styling/explorestyle.css" %}">
<script type="text/javascript" src="{% static "scripts/explorescript.js" %}"> </script>


{% for pic in pictures %}
    <div class="img">
            <a target="_blank" href={% static "/media/"|addstr:pic.picture %}>
            <img src={% static "/media/"|addstr:pic.picture %} alt="Klematis" width="150" height="160"></a>
    {% if user.is_authenticated %}
            {% if pic.user != user %}
                {% if pic in ratings %}
                    <div class="desc"></br>
                        <img class="like" id="{{pic.imageID}}" onclick="changeImage(id)" src={% static "images/liked.png" %}>
                        <strong>Likes: {{ pic.likes }}</strong>
                    </div>
                {% else %}
                     <div class="desc"></br>
                        <img class="like" id="{{pic.imageID}}" onclick="changeImage(id)" src={% static "images/notliked.png" %}>
                        <strong>Likes: {{ pic.likes }}</strong>
                    </div>
                {% endif %}
            {% else %}
                <div class="desc"></br>
                    <strong>Likes: {{ pic.likes }}</strong></br>
                    <p style="font-size: 10px;">Created by you!</p>
                </div>
            {% endif %}
    {% else %}
         <div class="desc"></br>
            <strong>Likes: {{ pic.likes }}</strong>
         </div>
    {% endif %}
     </div>
{% endfor %}

{% endblock %}