{% extends 'kinkyCuts/base.html' %}
<!DOCTYPE html>

<html>
{% load staticfiles %}
{% block title %}HomePage{% endblock %}
{% block body_block %}
	<link rel="stylesheet" type="text/css" href={% static "styling/canvasstyle.css" %}>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.	js"></script>
	<div align = "center">
		<h2>Drag a hairstyle to get started!<h2>
	</div>
	<div class="embed-responsive embed-responsive-16by9" style="width:2000px; height:900px; position:absolute; left:0px; top:100px">
  		
		<!-- The canvas element -->
		<div id="canvasArea">
			<canvas id="canvas" width="350" height="430" draggable="true"></canvas>
		</div>
		
		<!-- Zoom in / Zoom out buttons -->
		<div id="zoomInArea">
			<button id="zoomin" class="btn btn-default" type="button">+</button>
		</div>

		<div id="zoomOutArea">
			<button id="zoomout" class="btn btn-default"  type="button">-</button>
		</div>
		
		<!-- Refresh Button -->	
		<button id="refreshButton" type="button" class="btn btn-default" aria-label="Left Align">
			<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
		</button>
		
		<!-- Upload button -->
		<div id="browseArea">
			<span class="btn btn-default btn-file">Load Image<input type="file" id="userFile" accept="image/*">
			</span>
		</div>
		
		<!-- Post Button -->
		{% if user.is_authenticated %}
			<div id="postArea">
				<button id="postButton" style="font-size: 20px" class="btn btn-primary" onclick="postCreation();">Share Creation!</button>
			</div>
		{% else %}
			<div id="postArea">
				<button id="postButton" class="btn btn-primary" onclick="location.href='/accounts/login/';">Share Creation!</button>
			</div>
		{% endif %}
		
		<!-- Download button -->
		<div id="downloadArea">
			<span class="btn btn-default btn-file">
				<a id="downloadImgLink" download="MyImage.png" href="#" target="_blank">Download</a>
			</span>
		</div>
		
		<!--- Hairstyle images temporary -->
		<ul id="hairStyles">
		<li><img id="hs1" draggable="true" ondragstart="drag(event)" src={% static "images/1.png" %} width="80" height="86"></li>
		<li><img id="hs2" draggable="true" ondragstart="drag(event)" src={% static "images/2.png" %} width="80" height="86"></li>
		<li><img id="hs3" draggable="true" ondragstart="drag(event)" src={% static "images/3.png" %} width="80" height="86"></li>
		<li><img id="hs4" draggable="true" ondragstart="drag(event)" src={% static "images/4.png" %} width="80" height="86"></li>
		<li><img id="hs5" draggable="true" ondragstart="drag(event)" src={% static "images/5.png" %} width="80" height="86"></li>
		<li><img id="hs6" draggable="true" ondragstart="drag(event)" src={% static "images/6.png" %} width="80" height="86"></li>
		<li><img id="hs7" draggable="true" ondragstart="drag(event)" src={% static "images/7.png" %} width="80" height="86"></li>
		<li><img id="hs8" draggable="true" ondragstart="drag(event)" src={% static "images/8.png" %} width="80" height="86"></li>
		</ul>

		<!-- Invisible image to feed the canvas -->
		<img id="face" src={% static "images/baldguy.png" %} draggable="false">
	</div>
	
	<script src={% static "scripts/canvasscript.js" %}></script>
{% endblock %}
	
</html>