{% extends 'kinkyCuts/base.html' %}
{% load staticfiles %}

<head>
<title>{% block title %}My Pictures{% endblock %}</title>
<link rel="stylesheet" type="text/css" href={% static "styling/explorestyle.css" %}>
</head>
{% block body_block %}
<div class="img">
    {% for pic in pictures %}
                <a target="_blank" href={% static images/klematis_big.jpg %}><img src={% static images/klematis_big.jpg %} alt="Klematis" width="180"
                                                                height="120"></a>
                <div class="desc">
                    {% likes %}
                </div>
    {%endfor%}
            </div>
{endblock}