{% extends 'kinkyCuts/base.html' %}
{% load staticfiles %}
{% load kinkycuts_extras %}

<head>
<title>{% block title %}My Pictures{% endblock %}</title>
</head>
{% block body_block %}
<link rel="stylesheet" type="text/css" href={% static "styling/explorestyle.css" %}>
<div id="pictureArea">
{% for pic in pictures %}
            <div class="img">
                <a target="_blank" href={{ pic.picture }}><img src={{ pic.picture }} alt="Klematis" width="150" height="160"></a>
                <div class="desc">
                    Likes: {{ pic.likes }}
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}