{% extends 'kinkyCuts/base.html' %}
{% load staticfiles %}
{% load kinkycuts_extras %}

<head>
<title>{% block title %}My Pictures{% endblock %}</title>
</head>
{% block body_block %}
<div style="position:absolute; left:100px; top:80px">
        <!--{# for pic in pictures #}-->
<link rel="stylesheet" type="text/css" href="{% static "styling/explorestyle.css" %}">
{% for pic in pictures %}
            <div class="img">
                <a target="_blank" href={% static "/media/"|addstr:pic.picture %}><img src={% static "/media/"|addstr:pic.picture %} alt="Klematis" width="150" height="160"></a>
                <div class="desc">
                    Likes: {{ pic.likes }}
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}